watering_schedule.json
{
  "name": "Watering Schedule",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 16
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "id": "6e99dfce-2162-4a50-9d64-6eb003275cf1",
      "position": [
        -16,
        768
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.main }}",
              "operation": "larger",
              "value2": 1
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "id": "3776e7a4-a3d8-417e-a456-587fdf6d44be",
      "position": [
        848,
        960
      ]
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "latitude",
              "value": "={{ $env.LATITUDE }}"
            },
            {
              "name": "longitude",
              "value": "={{ $env.LONGITUDE }}"
            },
            {
              "name": "hourly",
              "value": "precipitation"
            },
            {
              "name": "precipitation_unit",
              "value": "inch"
            },
            {
              "name": "timezone",
              "value": "America/New_York"
            },
            {
              "name": "forecast_days",
              "value": "3"
            },
            {
              "name": "past_days",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Today + Next 3 Days",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "id": "06e7f684-89c2-4a70-9a5c-02b1365bb7ab",
      "position": [
        176,
        960
      ]
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "latitude",
              "value": "={{ $env.LATITUDE }}"
            },
            {
              "name": "longitude",
              "value": "={{ $env.LONGITUDE }}"
            },
            {
              "name": "hourly",
              "value": "precipitation"
            },
            {
              "name": "precipitation_unit",
              "value": "inch"
            },
            {
              "name": "timezone",
              "value": "America/New_York"
            },
            {
              "name": "past_days",
              "value": "7"
            },
            {
              "name": "forecast_days",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Get Rain Past 7 Days",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "id": "1f733d47-7184-432c-b98d-9529fb306e99",
      "position": [
        176,
        768
      ]
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "latitude",
              "value": "={{ $env.LATITUDE }}"
            },
            {
              "name": "longitude",
              "value": "={{ $env.LONGITUDE }}"
            },
            {
              "name": "hourly",
              "value": "precipitation"
            },
            {
              "name": "precipitation_unit",
              "value": "inch"
            },
            {
              "name": "timezone",
              "value": "America/New_York"
            },
            {
              "name": "past_days",
              "value": "7"
            },
            {
              "name": "forecast_days",
              "value": "3"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Sum Last 7 + Next 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "id": "5919b8fc-d0ac-424e-a9e9-0fef9312a284",
      "position": [
        176,
        1152
      ]
    },
    {
      "parameters": {
        "operation": "concatenateItems",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "hourly.precipitation"
            }
          ]
        },
        "options": {}
      },
      "name": "Put Values into List 1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "id": "eac9433f-326f-49b7-91d3-faf96e85511d",
      "position": [
        368,
        768
      ]
    },
    {
      "parameters": {
        "operation": "concatenateItems",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "hourly.precipitation"
            }
          ]
        },
        "options": {}
      },
      "name": "Put Values into List 2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "id": "5795e69c-3b98-46bc-baf1-e8eb2182bce0",
      "position": [
        368,
        960
      ]
    },
    {
      "parameters": {
        "operation": "concatenateItems",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "hourly.precipitation"
            }
          ]
        },
        "options": {}
      },
      "name": "Put Values into List 3",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "id": "2c051880-a129-4d42-8ab0-6d7cef3de636",
      "position": [
        368,
        1152
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = items[0]; // Access the first item from items\n\nlet total = 0;\n\nfor (const precipitation of data.json.precipitation[0]) {\n  // Loop through each element in the precipitation array\n  total += precipitation;  // Add each value to the total\n}\n\nreturn {  // Return a single object (preferred in n8n)\n  main: total, // Set the sum as the value for the key \"main\"\n};"
      },
      "name": "Sum and Set Value 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "999f1d53-4507-48e3-9693-aedf6d19c7c4",
      "position": [
        560,
        768
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = items[0]; // Access the first item from items\n\nlet total = 0;\n\nfor (const precipitation of data.json.precipitation[0]) {\n  // Loop through each element in the precipitation array\n  total += precipitation;  // Add each value to the total\n}\n\nreturn {  // Return a single object (preferred in n8n)\n  main: total, // Set the sum as the value for the key \"main\"\n};"
      },
      "name": "Sum and Set Value 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "c33d384c-cb50-4b9f-b35e-f182ce510e36",
      "position": [
        560,
        960
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = items[0]; // Access the first item from items\n\nlet total = 0;\n\nfor (const precipitation of data.json.precipitation[0]) {\n  // Loop through each element in the precipitation array\n  total += precipitation;  // Add each value to the total\n}\n\nreturn {  // Return a single object (preferred in n8n)\n  main: total, // Set the sum as the value for the key \"main\"\n};"
      },
      "name": "Sum and Set Value 3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "67864fd6-0fa4-43a2-8c65-13cd0ec9fd17",
      "position": [
        560,
        1152
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=--\n**{{ $json.main.round(2) }} inches** over a period of about 1 week. YOU'RE GOOD!\n--\n* {{ $('Sum and Set Value 1').item.json.main.round(2) }} inches in the last week\n* {{ $('Sum and Set Value 2').item.json.main.round(2) }} in the next 3 days",
        "options": {},
        "webhookUri": "={{ $env.DISCORD_WEBHOOK_URL }}"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "name": "Discord (>1\")",
      "id": "0e0da0b6-6097-4402-b51e-2a8f06f38df3",
      "position": [
        1040,
        880
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=--\n**{{ $json.main.round(2) }} inches** over a period of about 1 week. TIME TO WATER!\n--\n* {{ $('Sum and Set Value 1').item.json.main.round(2) }} inches in the last week\n* {{ $('Sum and Set Value 2').item.json.main.round(2) }} in the next 3 days",
        "options": {},
        "webhookUri": "={{ $env.DISCORD_WEBHOOK_URL }}"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "name": "Discord (<1\")",
      "id": "51017b7f-7763-4285-a6e9-55d9b9368ac7",
      "position": [
        1040,
        1040
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Rain Past 7 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Discord (>1\")",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord (<1\")",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Today + Next 3 Days": {
      "main": [
        [
          {
            "node": "Put Values into List 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rain Past 7 Days": {
      "main": [
        [
          {
            "node": "Put Values into List 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sum Last 7 + Next 3": {
      "main": [
        [
          {
            "node": "Put Values into List 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Put Values into List 1": {
      "main": [
        [
          {
            "node": "Sum and Set Value 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Put Values into List 2": {
      "main": [
        [
          {
            "node": "Sum and Set Value 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Put Values into List 3": {
      "main": [
        [
          {
            "node": "Sum and Set Value 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sum and Set Value 1": {
      "main": [
        [
          {
            "node": "Today + Next 3 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sum and Set Value 2": {
      "main": [
        [
          {
            "node": "Sum Last 7 + Next 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sum and Set Value 3": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
